<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="numUnits" value="3" />
    <add key="logLevel" value="5" />
    <add key="msgDelay" value="3000" />
    <add key="msgTimeOut" value="2000" />
    <add key="msgWaitAck" value="1000" />
    <add key="msgBaudRate" value="19200" />
    <add key="Unit1Port" value="COM6" />
    <add key="Unit1Count" value="4" />
    <add key="Unit1Zone1" value="\7" />
    <add key="Unit1Zone2" value="\8" />
    <add key="Unit1Zone3" value="\9" />
    <add key="Unit1Zone4" value="\10" />
    <add key="Unit2Port" value="COM8" />
    <add key="Unit2Count" value="5" />
    <add key="Unit2Zone1" value="\2" />
    <add key="Unit2Zone2" value="\3" />
    <add key="Unit2Zone3" value="\4" />
    <add key="Unit2Zone4" value="\5" />
    <add key="Unit2Zone5" value="\6" />
    <add key="Unit3Port" value="COM7" />
    <add key="Unit3Count" value="1" />
    <add key="Unit3Zone1" value="\1" />
  </appSettings>
</configuration>