<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="numUnits" value="3" />
    <add key="logLevel" value="5" />
    <add key="msgDelay" value="3000" />
    <add key="msgTimeOut" value="2000" />
    <add key="msgWaitAck" value="1000" />
    <add key="msgBaudRate" value="19200" />
    <add key="UnitPort_0" value="COM12" />
    <add key="UnitPort_1" value="COM10" />
    <add key="UnitPort_2" value="COM9" />
  </appSettings>
</configuration>